:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex: 1;
  background-color: #fafafa;
  min-height: calc(100vh - 64px);
}

@media (max-width: 599px) {
  .app-content {
    min-height: calc(100vh - 56px);
  }
}
