/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Notification Styles */
.notification-success {
  --mdc-snackbar-container-color: #4caf50;
  --mat-snack-bar-button-color: #ffffff;
  --mdc-snackbar-supporting-text-color: #ffffff;
}

.notification-error {
  --mdc-snackbar-container-color: #f44336;
  --mat-snack-bar-button-color: #ffffff;
  --mdc-snackbar-supporting-text-color: #ffffff;
}

.notification-warning {
  --mdc-snackbar-container-color: #ff9800;
  --mat-snack-bar-button-color: #ffffff;
  --mdc-snackbar-supporting-text-color: #ffffff;
}

.notification-info {
  --mdc-snackbar-container-color: #2196f3;
  --mat-snack-bar-button-color: #ffffff;
  --mdc-snackbar-supporting-text-color: #ffffff;
}
